In [2]:
#q8
a="nana  "
b=8
c=a*b
print(c,"batman")

nana  nana  nana  nana  nana  nana  nana  nana   batman

In [4]:
#q9 
''' Howdoyou print the exact following lines in the exact order using only 1 print statement in Python?
 Hi! We are studying ”Python”. \n I hope you all are doing well.
 Weare going to have a great time! 
ans)
'''
print('hi! we are studying "python".\\n i hope you all are doing well .\nwe are going to have a great time!')

hi! we are studying "python".\n i hope you all are doing well .
we are going to have a great time!

In [52]:

#q10
print("name:siva kumar dash.\nadress:sunabeda koraput")

name:siva kumar dash.
adress:sunabeda koraput

In [83]:
#q11
x=2
y=x**3+2*x**2+3*x+4
print(y)

26

In [6]:
#q12
import math
r=int(input("enter the radius: "))
print("the area of the circle is:",math.pi*r**2)
print("volume of the sphere is: ",4/3*math.pi*r**3)

enter the radius:  2

the area of the circle is: 12.566370614359172
volume of the sphere is:  33.510321638291124

In [77]:
#13
n=int(input("enter the number:"))
print("sum of the number from 1 to n is:",n*(n+1)/2)

enter the number: 4

sum of the number from 1 to n is: 10.0

In [91]:
#q14 i)
a=10  
b=5  
c=0
output=(a<b) or (not(c==b) and (c<a))
print(output)

True

In [93]:
q14) ii)
a=1.21
b=1.20
c=1.22
output=(a<b) or (not(c==b) and (c<a))
print(output)

False

In [97]:
#q15)
# Define the principal amount
p = 1000

# Define the annual rate of return
r = 0.12

# Define the time periods in years
years = [10, 20, 30]

# Calculate the amount for each time period
for n in years:
    a = p * (1 + r) ** n
    print(f"After {n} years, the amount will be: Rs. {a:.2f}")

After 10 years, the amount will be: Rs. 3105.85
After 20 years, the amount will be: Rs. 9646.29
After 30 years, the amount will be: Rs. 29959.92

In [107]:
#q16)
import math
e_pi=math.e**math.pi
pi_e=math.pi**math.e
print("e^pi is:",e_pi,"\npi^e is:",pi_e)
if(e_pi>pi_e):
  print("ok")
else:
  print("pk anyway")

e^pi is: 23.140692632779263
pi^e is: 22.45915771836104
ok

In [111]:
#q17)
"""
priority up to down-->
  1)    ()
  2)    **
  3)    * / // %
  4)    + -
  5)    >  <=  < >=
  6)    ==  !=

"""
a=-7*20+8/16*2+54
b=7**2//9%3
c=(7-4*2)*10-25*8//5
d=5%10+10-25*8//5
print(a," ",b," ",c," ",d)

-85.0   2   -50   -25

In [133]:
 #18)
'''Evaluate the following expressions involving relational and logical operators:
 a. ’hi’ > ’hello’ and ’bye’ < ’Bye’
 b. ’hi’ > ’hello’ or ’bye’ < ’Bye’
 c. 7 >8or 5<6and’Iamfine>’Iamnotfine’
 d. 10 !=9 and 29 >= 29
 e. 10 !=9 and 29 >= 29 and ’hi’ > ’hello’ or ’bye’ < ’Bye’ and 7 <= 2.5
 f. 5 % 10 +10<50and29>=29
 g. 7 ** 2 <=5// 9 %3or’bye’ < ’Bye’
 h. 5 %10<8and-25>1*8//5
 i. 7 ** 2 // 4 + 5 > 8or 5!= 6
 j. 7/4 < 6 and ’I am fine > ’I am not fine’
 k. 10 + 6 * 2**2!=9//4-3 and 29 >= 29/9
 l. ’hello’ * 5 > ’hello’ or ’bye’ < ’Bye’

'''                                                               #A=65,a=97
a= 'hi' > 'hello' and 'bye' < 'Bye'  #he 1st come then hi so true  but b>B acooding to ascii
print(a)
b='hi' > 'hello' or 'bye' < 'Bye'     # T or F = T
print(b)
c= 10 + 6 * 2**2!=9//4-3 and 29 >= 29/9   # t & t= t
print(c)
d=7 ** 2 <=5// 9 %3or'bye' < 'Bye'
print(d)
e=  7 ** 2 // 4 + 5 > 8or 5!= 6   # t or t=t
print(e)

False
True
True
False
True

<>:23: SyntaxWarning: invalid decimal literal
<>:25: SyntaxWarning: invalid decimal literal
<>:23: SyntaxWarning: invalid decimal literal
<>:25: SyntaxWarning: invalid decimal literal
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9812\1146172924.py:23: SyntaxWarning: invalid decimal literal
  d=7 ** 2 <=5// 9 %3or'bye' < 'Bye'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9812\1146172924.py:25: SyntaxWarning: invalid decimal literal
  e=  7 ** 2 // 4 + 5 > 8or 5!= 6   # t or t=t

In [135]:
#q20)
a=int(input("enter the 1st no"))
b=int(input("enter the 2nd number"))
print("the sum of",a,"and",b,"is:",a+b)
print("the duiff of",a,"and",b,"is:",a-b)
print("the product of",a,"and",b,"is:",a*b)
print("the sum of",a,"and",b,"is:",a+b)
print("the remainder when",a,"is devided by",b,"is:",a%b)
print("the sum of",a,"and",b,"is:",a+b)

enter the 1st no 4
enter the 2nd number 8

the sum of 4 and 8 is: 12
the duiff of 4 and 8 is: -4
the product of 4 and 8 is: 32
the sum of 4 and 8 is: 12
the remainder when 4 is devided by 8 is: 4
the sum of 4 and 8 is: 12

In [ ]:
#q21)
import math

# Constants
initial_speed = 0  # Initial speed vi in m/s
acceleration = 9.8  # Acceleration due to gravity in m/s²

# Get the height from which the object is dropped from the user
height = float(input("Enter the height from which the object is dropped (in meters): "))

# Calculate the final speed using the formula vf = sqrt(vi^2 + 2ad)
final_speed = math.sqrt(initial_speed**2 + 2 * acceleration * height)

# Display the final speed
print(f"The final speed of the object when it hits the ground is: {final_speed:.2f} m/s")

In [137]:

#Q22
# Read temperature in Celsius from user
celsius = float(input("Enter the temperature in degrees Celsius: "))

# Convert Celsius to Fahrenheit
fahrenheit = celsius * 9/5 + 32

# Convert Celsius to Kelvin
kelvin = celsius + 273.15

# Display the results
print(f"The temperature in Fahrenheit is: {fahrenheit:.2f}°F")
print(f"The temperature in Kelvin is: {kelvin:.2f}K")

Enter the temperature in degrees Celsius:  23

The temperature in Fahrenheit is: 73.40°F
The temperature in Kelvin is: 296.15K

In [43]:
#23)
n=int(input("enter the number"))
if n>999 and n<9999:
    f1=(n//1000)
    f2=(n//100)%10
    f3=(n//10)%10
    f4=(n%10)
    sum=f1+f2+f3+f4
    print(f1,"+",f2,"+",f3,"+",f4,"=",sum)
else:
  print("pls enter four digit no")

enter the number 34555

pls enter four digit no

In [83]:
#q24)
f1=int(input("enter the first number:"))
f2=int(input("enter the second number:"))
f3=int(input("enter the third number:"))
maximum=max(f1,f2,f3)
minimum=min(f1,f2,f3)
sum_1=f1+f2+f3
middle=sum_1-maximum-minimum
print("max no is:",maximum)
print("min no is:",minimum)
print("middle no is:",middle)

enter the first number: 44
enter the second number: 55
enter the third number: 66

TypeError: 'int' object is not callable

In [85]:
#q25)
days=int(input("enter the no of days"))
hours=int(input("enter the no of hours"))
min=int(input("enter the no of min"))
sec=int(input("enter sec"))
tot_sec=(days*24*3600)+(hours*3600)+(min*60)+sec
print("total second is:",tot_sec)

enter the no of days 1
enter the no of hours 1
enter the no of min 1
enter sec 1

total second is: 90061

In [59]:
 #q1
"""  Which of the following statements is true about Python variables?
 a. Variable names can start with a number.       --> cant start with no ex-(2siva=3 is invalid)
 b. Variables must be declared with their data types. --> false no need of datatype in python
 c. Python variables do not need to be declared before use.-->true 
 d. Variable names can contain spaces.  --> cant contain space _ can be used in place of space

 ans) c
"""

'  Which of the following statements is true about Python variables?\n a. Variable names can start with a number.       --> cant start with no ex-(2siva=3 is invalid)\n b. Variables must be declared with their data types. --> false no need of datatype in python\n c. Python variables do not need to be declared before use.-->true \n d. Variable names can contain spaces.  --> cant contain space _ can be used in place of space\n\n ans) c\n'

In [ ]:
##2
"""
As a follow-up of Q. 1., which of the following is a correct variable name in Python?
 a. 1variable
 b. variable_1
 c. variable-1
 d. variable 1
  ans)b

"""

In [ ]:
#q3
"""
Mention 2 ways by which you can apply comments in Python.
ans) i)for a single line # can be used
    ii)for multiple line """ comment... """ or '''comment... ''' can be used.

In [ ]:
#q4
"""
What is the difference between the ’input()’ function and the ’print()’ function in Python?
ans) input()--used to get the input from the user
    print()--used to get the optput 
"""

In [ ]:
 """q5. Howdoyou convert the string ’123’ to an integer in Python?
 a. str(’123’)
 b. int(123)
 c. int(’123’)
 ans) c
"""

In [40]:
#q7 What is the output of the following Python code?
a=int(input("Enter a:"))
a=20
b=10
print(a+b)

Enter a: 4

30