In [15]:
#q1)
a=input("is it raining or not:")
if a=='yes':
  print("carry an umbrella")
else:
 print("bye")

is it raining or not: yes

carry an umbrella

In [27]:
#q3)
grade=int(input("Enter the Student grade:"))
if grade>=90:
 print("Grade-A- Excellent")
elif grade>=80:
 print("Grade-B- Good")
elif grade>=70:
 print("Grade-C- Average")
elif grade>=60:
 print("Grade-D- Needs Improvement")
else:
 print("Grade-F- Failing")

Enter the Student grade: 99

Grade-A- Excellent

In [38]:
#q3 ii)
a=float(input("Enter the length of First side:"))
b=float(input("Enter the length of Second side:"))
c=float(input("Enter the length of Third side:"))
if a==b==c:
 print("It is an Equilateral Triangle.")
elif a==b or b==c or c==a:
 print("It is an Iscoceles Triangle.")
else:
 print("It is a scalane Triangle.")

Enter the length of First side: 23
Enter the length of Second side: 23
Enter the length of Third side: 2

It is an Iscoceles Triangle.

In [49]:
#q4)
n=int(input("enter no:"))
if n%2==0:
  print("even no")
else:
  print ("odd no")

enter no: 24

even no

In [53]:
#q5)
year=int(input("Enter a year:"))
if (year %4==0 and year%100!=0) or (year%400==0):
 print(f"The year { year} is a leap year.")
else:
 print(f"The year { year} is not leap year.")

Enter a year: 1234

The year 1234 is not leap year.

In [43]:
#q6)
sum=0
n=int(input("enter the no to see prime or not :"))
for i in range(2,n//2):
   if n%i==0:
    sum=sum+1
if sum>0:
  print("the number is not a prime no")
else:
  print("the number is a prime number")

enter the no to see prime or not : 5

the number is not a prime no

In [58]:
x=int(input("enter the no"))
a=0
sum=0
for i in range(2,x+1):
 a=0
 for j in range(2,i//2+1):
    if i%j==0:
        a=a+1
 if a==0:
    sum=sum+i
print(sum)

enter the no 2

2

In [62]:
#q7)
sum1=0
n=int(input("sum of all prime no is :"))
for j in range(2,n+1):
 sum=0
 for i in range(2,(j//2)+1):
   if j%i==0:
    sum=sum+1
 if sum==0:
   sum1=sum1+j
print("the sum of prime no is:",sum1)

sum of all prime no is : 5

the sum of prime no is: 10

In [111]:
#q8)
n=int(input("enter the number"))
while n<0:
  n=int(input("enter the number"))
if n%2==0:
 print(n*2)
else:
 print(n*n)

enter the number -4
enter the number -66
enter the number -789
enter the number 4

8

In [177]:
#q9)

m=input("enter the number:")
try:
 n=int(m)
except ValueError:
 print("Invalid input")
else:
 remainder=n%5
 match remainder:
  case 1:print("remainder is 1")
  case 2:print("remainder is 2")
  case 3:print("remainder is 3")
  case 4:print("remainder is 4")
  case 0:print("remainder is 0")

enter the number: 44.5

Invalid input

j])

In [198]:
 #q10)
inp=input("Enter a String:")
 for i in range(len(inp)):
   for j in range (i+1 , len(inp)+1):
    print(inp[i:j])

Enter a String: siva

s
si
siv
siva
i
iv
iva
v
va
a

In [3]:
operator=input("enter your operator")
a=int(input("enter ypur 1st no:"))
b=int(input("enter your 2nd no:"))
if operator=='+':
   print(a+b)
elif operator=='-':
   print(a-b)
elif operator=='/':
   print(a/b)
elif operator=='*':
   print(a*b)
elif operator=='exit'
       
else:
 print("enter the correct operator")

enter your operator +
enter ypur 1st no: 4
enter your 2nd no: 5

9
enter the correct operator

In [208]:
#q12
import statistics
no=[1,2,3,2,3,4,4,4,5,4,5,6]
mean = statistics.mean(no)
median = statistics.median(no)
mode=statistics.mode(no)
print("mean is:",mean)
print("median is:",median)
print("mode is:",mode)

mean is: 3.5833333333333335
median is: 4.0
mode is: 4

In [256]:
#q13)
position=input("enter the position:")
col='abcdefgh'
#extract the position from the position
column=position[0]
row=int(position[1])
column_index=col.index(column)
print(column_index)
if ((row+column_index+1)%2==0):
    print("colour is black")
else:
    print("colour is white")

enter the position: b4

1
colour is black

In [272]:
#q15)
n=int(input("Enter a number:"))
sum=0
for i in range(1,n):
 if n%i==0:
  sum+=i
if sum==n:
 print(f'{n} is a perfect number.')
else:
 print(f'{n} is not a perrfect number.')

Enter a number: 6

6 is a perfect number.

In [317]:
#q17)
sum=0
for i in range(100,1000):
   if i%5==0 or i%6==0 :
     print(i,end=" ")
     sum=sum+1
     if sum==10:
      sum=0
      print()

100 102 105 108 110 114 115 120 125 126
130 132 135 138 140 144 145 150 155 156
160 162 165 168 170 174 175 180 185 186
190 192 195 198 200 204 205 210 215 216
220 222 225 228 230 234 235 240 245 246
250 252 255 258 260 264 265 270 275 276
280 282 285 288 290 294 295 300 305 306
310 312 315 318 320 324 325 330 335 336
340 342 345 348 350 354 355 360 365 366
370 372 375 378 380 384 385 390 395 396
400 402 405 408 410 414 415 420 425 426
430 432 435 438 440 444 445 450 455 456
460 462 465 468 470 474 475 480 485 486
490 492 495 498 500 504 505 510 515 516
520 522 525 528 530 534 535 540 545 546
550 552 555 558 560 564 565 570 575 576
580 582 585 588 590 594 595 600 605 606
610 612 615 618 620 624 625 630 635 636
640 642 645 648 650 654 655 660 665 666
670 672 675 678 680 684 685 690 695 696
700 702 705 708 710 714 715 720 725 726
730 732 735 738 740 744 745 750 755 756
760 762 765 768 770 774 775 780 785 786
790 792 795 798 800 804 805 810 815 816
820 822 825 828 830 834 835 840 845 846
850 852 855 858 860 864 865 870 875 876
880 882 885 888 890 894 895 900 905 906
910 912 915 918 920 924 925 930 935 936
940 942 945 948 950 954 955 960 965 966
970 972 975 978 980 984 985 990 995 996

In [325]:
#q18)
for i in range(1,100):
  if i%7==0:
    continue
  else:
    print(i,end=" ")

1 2 3 4 5 6 8 9 10 11 12 13 15 16 17 18 19 20 22 23 24 25 26 27 29 30 31 32 33 34 36 37 38 39 40 41 43 44 45 46 47 48 50 51 52 53 54 55 57 58 59 60 61 62 64 65 66 67 68 69 71 72 73 74 75 76 78 79 80 81 82 83 85 86 87 88 89 90 92 93 94 95 96 97 99

In [343]:
#q19)
n=int(input("enter the number"))
while(n!=0):
  a=n%10
  print(a,end="")
  n=n//10

enter the number 2345

5432

In [345]:
#q20)
# Read an integer from the user
number = int(input("Enter an integer: "))

# Initialize the list to store the factors
factors = []

# Start with the smallest prime number
divisor = 2

# Loop to find the smallest factors
while number > 1:
    while number % divisor == 0:
        factors.append(divisor)
        number //= divisor
    divisor += 1

# Display the factors in increasing order
print("The smallest factors of the given number in increasing order are:", ', '.join(map(str, factors)))

Enter an integer:  6

The smallest factors of the given number in increasing order are: 2, 3

In [347]:
#q21)
n=int(input("enter the no:"))
fact=1
i=1
while fact<n:
   i=i+1
   fact=fact*i
if fact==n:
  print("the number is a factorial")
else:
  print("the number is not a factorial")

enter the no: 24

the number is a factorial

In [349]:
# Read an integer from the user
number = input("Enter an integer: ")

# Initialize a string to store the result
result = ""

# Loop through each character in the input number
for digit in number:
    if digit == '0':
        result += 'ZERO'
    elif digit == '1':
        result += 'ONE'
    elif digit == '2':
        result += 'TWO'
    elif digit == '3':
        result += 'THREE'
    elif digit == '4':
        result += 'FOUR'
    elif digit == '5':
        result += 'FIVE'
    elif digit == '6':
        result += 'SIX'
    elif digit == '7':
        result += 'SEVEN'
    elif digit == '8':
        result += 'EIGHT'
    elif digit == '9':
        result += 'NINE'

# Print the result
print(result)

Enter an integer:  234

TWOTHREEFOUR

In [367]:
#25_b)
n=int(input("enter the rows"))
for i in range(1,n+1):
   print((n-i)*" "+i*'*')

enter the rows 4

   *
  **
 ***
****

In [359]:
#25_c)
n=int(input("enter the rows"))
for i in range(n,0,-1):
    print((n-i) * " " + i*'*')

enter the rows 4

****
 ***
  **
   *

In [369]:
#q25_d)
n=int(input("enter the no of rows:"))
for i in range(0,n):
  print((n-i)*"*")

enter the no of rows: 4

****
***
**
*

In [371]:
#q25_e)
# Number of rows
rows = 4

# Loop through each row
for i in range(rows):
    # Print the pattern for each row
    print(" " * i + "* " * (rows - i))

* * * *
 * * *
  * *
   *

In [373]:
#q25_f)
# Number of rows for the upper half (excluding the middle)
rows = 3

# Loop for the upper half of the diamond (including the middle row)
for i in range(rows):
    print(" " * (rows - i) + "*" * (2 * i + 1))

# Loop for the lower half of the diamond
for i in range(rows - 1, -1, -1):
    print(" " * (rows - i) + "*" * (2 * i + 1))

   *
  ***
 *****
 *****
  ***
   *

In [19]:
#practise  Q11

op=input("enter the operator")
a=int(input("enter the first operator"))
b=int(input("enter the second operator"))

match op:
 case '+':
  print (a+b)
 case '-':
  print (a-b)
 case '*':
  print(a*b)
 case _:
  print("enter the correct option")

enter the operator *
enter the first operator 9
enter the second operator 9

81