In [7]:
#q1)
d={}
n=int(input("enter the number of the students:"))
for i in range(n):
      s=input("enter the name of student:")
      m=int(input("enter the marks of the student:"))
      d[s]=m
name=input("enter the name of whose mark you went to know")
for i in range(n):
    if name in d:
        print(name ,"marks is:",d[name])
        break;
        
print(d)

enter the number of the students: 2
enter the name of student: s
enter the marks of the student: 3
enter the name of student: r
enter the marks of the student: 4
enter the name of whose mark you went to know r

r marks is: 4
{'s': 3, 'r': 4}

In [19]:
#q2)

d={}
n=int(input("enter the number of the students:"))
for i in range(n):
    s=input("enter the name of student:")
    m=int(input("enter the % of marks of the student:"))
    d[s]=m
print(d.values())
print(d.keys())
print(d.values())
print(d)

enter the number of the students: 3
enter the name of student: s
enter the % of marks of the student: 3
enter the name of student: d
enter the % of marks of the student: 4
enter the name of student: f
enter the % of marks of the student: 5

dict_values([3, 4, 5])
dict_keys(['s', 'd', 'f'])
dict_values([3, 4, 5])
{'s': 3, 'd': 4, 'f': 5}

In [21]:
#q3)

d={}
n=int(input("enter the number :"))
for i in range(n):
    s=input("enter the key:")
    m=int(input("enter the values:"))
    d[s]=m
sum=sum(d.values())
sum

enter the number : 3
enter the key: a
enter the values: 1
enter the key: b
enter the values: 5
enter the key: c
enter the values: 6

12

In [36]:
#q4)
e2f={"dog":"chien","cat":"chat","walrus":"mx"}
print(e2f.keys())
print(e2f.values())

e2f

dict_keys(['dog', 'cat', 'walrus'])
dict_values(['chien', 'chat', 'mx'])

{'dog': 'chien', 'cat': 'chat', 'walrus': 'mx'}

In [56]:
#q5)

tlds = {"Canada": "ca", "United States": "us", "Mexico": "mx"}
""" for i in tlds:
    if i=="Canada":
        print("yes canada is there")
    if i=="France":
        print("yes it is there")
    else:
        print("france is not there")
        """

if "Canada" in tlds:
     print("yes canada is there")
else :
    print("nop it is not there")
if "France" in tlds:
     print("yes france is there")
else :
    print("nop france is not there")

yes canada is there
nop france is not there

In [3]:
tlds = {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

# a) Check whether the dictionary contains the key 'Canada'
if 'Canada' in tlds:
    print("The dictionary contains the key 'Canada'")
else:
    print("The dictionary does not contain the key 'Canada'")

# b) Check whether the dictionary contains the key 'France'
if 'France' in tlds:
    print("The dictionary contains the key 'France'")
else:
    print("The dictionary does not contain the key 'France'")

# c) Iterate through the key-value pairs and display them in a two-column format
print("\nCountry\t\tTLD")
print("---------------------")
for country, tld in tlds.items():
    print(f"{country}\t\t{tld}")

# d) Add the keyâ€“value pair 'Sweden' and 'sw' (incorrect TLD)
tlds['Sweden'] = 'sw'
print("\nAfter adding Sweden with incorrect TLD:", tlds)

# e) Update the value for the key 'Sweden' to 'se' (correct TLD)
tlds['Sweden'] = 'se'
print("After updating Sweden to correct TLD:", tlds)

# f) Use dictionary comprehension to reverse the keys and values
reversed_tlds = {v: k for k, v in tlds.items()}
print("Reversed dictionary:", reversed_tlds)

The dictionary contains the key 'Canada'
The dictionary does not contain the key 'France'

Country		TLD
---------------------
Canada		ca
United States		us
Mexico		mx

After adding Sweden with incorrect TLD: {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'sw'}
After updating Sweden to correct TLD: {'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'se'}
Reversed dictionary: {'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico', 'se': 'Sweden'}

In [54]:
#q6)
romannumerals = {"I": 1, "II": 2, "III": 3, "V": 5}
print("keys are: ",list(romannumerals.keys()))
print(romannumerals.values())
print("items are:",list(romannumerals.items()))
print(list(romannumerals))

keys are:  ['I', 'II', 'III', 'V']
dict_values([1, 2, 3, 5])
items are: [('I', 1), ('II', 2), ('III', 3), ('V', 5)]
['I', 'II', 'III', 'V']

In [32]:
n=int(input("enter the number of student:"))
d={}

for i in range(n):
    name=input("enter the names of student:")

    marks=int(input("enter tye marks obtained:"))
    d[name]=marks

print(d)
print(d.values())
print(d.key())

enter the number of student: 3
enter the names of student: ee
enter tye marks obtained: 33
enter the names of student: ede
enter tye marks obtained: 22
enter the names of student:  fcd
enter tye marks obtained: 55

{'ee': 33, 'ede': 22, ' fcd': 55}
dict_values([33, 22, 55])
dict_keys(['ee', 'ede', ' fcd'])

In [112]:
#q8)

life={"animal":{
                "cats":['Henri', 'Grumpy', 'Lucy'],
                "octopi":"",
                "emus":""
               },
      "plants": "",
      "others":""
     }
    
print(life.keys())
print(life.values())

dict_keys(['animal', 'plants', 'others'])
dict_values([{'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': '', 'emus': ''}, '', ''])

In [116]:
#q9)
input_string = 'mississippi'
lc={}
count=0
for i in input_string:
    if i in lc:
        lc[i]=lc[i]+1
    else:
        lc[i]=1
print(lc)

{'m': 1, 'i': 4, 's': 4, 'p': 2}

In [130]:
#q10)
s="siva kumar dash got 85 percentile in b.tech"
vl="AEIOUaeiou"
su=0
d={}
for i in s:
    if i in vl:
        if i in d:
            d[i]=d[i]+1
        else:
            d[i]=1
print(d)

{'i': 3, 'a': 3, 'u': 1, 'o': 1, 'e': 4}

In [44]:
s="siva kumar dash got 85 percentile in b.tech"
vl="AEIOUaeiou"
for i in s:
    if i not in vl:
        print(i,end="")
    else:
        print(" ",end="")

s v  k m r d sh g t 85 p rc nt l   n b.t ch

In [166]:
#q11)
d={ 1:"one",2:"two",3:"three",6:"four",5:"five",7:"seven",8:"eight",9:"nine",10:"ten"}
n=input("enter the number")
for i in n:
    # print(int(d[i]) it is incorrect
    no=int(i)
    print(d[no], end=" ")

enter the number 67

four seven

In [64]:
import pandas as pd
data = { "c1": [1, 2, 3, 4, 5], 
        "c2": [10, 20, 30, 40, 50], 
        "c3": [100, 200, 300, 400, 500] }
df=pd.DataFrame(data,index=["a","b","c","d","e"])
df

   c1  c2   c3
a   1  10  100
b   2  20  200
c   3  30  300
d   4  40  400
e   5  50  500