In [1]:
a,b,c=10,20,30
print("a value is %i"%a)

a value is 10

In [3]:
a,b,c=10,20,30
print("a value is %i"%a)
print("a=%i,b=%i and c=%d"%(a,b,c))

a value is 10
a=10,b=20 and c=30

In [6]:
name='krish'
l=[10,20,30,40]
print("hello %s your list is %s"%(name,l))

hello krish your list is [10, 20, 30, 40]

In [8]:
name='krish'
salary='1000'
gf='sneha'
print(f'hello {name} your salary is {salary} and your gf is {gf}')

hello krish your salary is 1000 is sneha

In [10]:
name='krish'
salary='1000'
gf='sneha'
print('hello {} your salary is {} and your gf is {}'.format(name,salary,gf))

hello krish your salary is 1000 and your gf is sneha

number1=int(input('enter the first number'))
number2=int(input('enter the second number'))
number3=int(input('enter the third number'))

number1=int(input('enter the first number')) number2=int(input('enter the second number')) number3=int(input('enter the third number'))

In [18]:

number1=int(input('enter the first number')) 
number2=int(input('enter the second number')) 
number3=int(input('enter the third number'))
minimum=number1
if number2<number1:
   minimum=number2
if number3<number2:
   minimum=number3
print('min no is',minimum)

enter the first number 1
enter the second number 3
enter the third number 7

min no is 1

In [19]:
min(2,534,9)

2

In [20]:
max(45,55,4)

55

In [23]:
import math
r=int(input('enetr the radius of the circle'))
ar=math.pi*(r*r)
v=4/3*math.pi*(r**3)
print(f"the area of the circle with radius {r} is {ar} and volume is {v}")

enetr the radius of the circle 2

the area of the circle with radius 2 is 12.566370614359172 and volume is 33.510321638291124

In [32]:
n=int(input("enter the number"))
x=n*(n+1)/2
print(f"the sum of numbers upto n is {x}")

enter the number 4

the sum of numbers upto n is 10.0